<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Todo list</title>
	<link rel="stylesheet" href="style.css">
</head>
<!-- Body -->
<body>
	<!-- Todo app -->
	<div id="todo_app" >

		<!-- Todo title  Заголовог-->
		<h3 class="todo__title">
			{{todo_title}}
		</h3> <!-- /Todo title  Заголовог-->

		<!-- Todo menu -->
		<div class="todo__menu">
				<button @click="addGroup()" class="menu__btn newTodo__btn">Добавить новую группу карточек &#x271A;</button>
		</div> <!-- /Todo menu -->
		<div class="group__wrapper">
			<div class="task__group" v-for="(group, index) of groupsTodos"> <!-- Task group -->

				<h3 class="group__title">
					Название группы
				</h3>

				<div id="task__card"> <!-- Task card -->

					<form @submit.prevent="addTodo"> <!-- Todo form -->
						<!-- Task name -->
						<label for="newTodo"></label>
						<input v-model="newTodo" autocomplete="off" required type="text" placeholder="Название задачи" name="newTodo" class="newTodo newTodo__input">
						<textarea name="newTodo_desc" placeholder="Описание задачи" class="newTodo_desc"></textarea>
						<!-- Task submit -->
						<button type="submit" name="button" class="newTodo newTodo__btn">&#x271A;</button>
					</form> <!-- /Todo form -->

					<ul>
						<li v-for="todo in todos" class="task">
							<input type="checkbox" v-bind:key="todo.index" name="task__ckeck" v-model="todo.completed" class="task__ckeck">
							<label for="task__ckeck" class="task__checked">&#10004;</label>
							<span :class="{completed: todo.completed, task__title: true}">{{todo.title}}</span>
							<button @click="removeTodo(todo)" type="button" name="button" class="task__btn">&times</button>
						</li>
					</ul>

					<div class="card__footer">
						<button @click="allDone()" type="button" name="button" v-if="todos.length >1" class="footer_btn footer_allDone">Все задачи выполнены</button>
						<button @click="allRemove()" type="button" name="button" v-if="todos.length >1" class="footer_btn">Удалить все задачи</button>
					</div>
				</div><!-- /Task card -->
			</div> <!-- /Task group -->
		</div> <!-- /Group wrapper -->

	</div>	<!-- /Todo app -->

	<!-- Scripts -->
	<script src="vue.js"></script>
	<script src="todo_app.js"></script>

</body>
<!-- /Body -->
</html>
